/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* Container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Align items vertically */
}

/* Colored Box */
.colored-box {
  background-color: #FEB03C; /* Example background color */
  color: #000000; /* Example text color */
  padding: 20px;
  border-radius: 12px;
  width: 85%; /* Set width to 85% of the page */
  margin-top: 10px; /* Adjust margin to create space between navbar and box */
}

/* Content within Colored Box */
.content {
  display: flex;
  justify-content: space-between; /* Align items and links to the right */
  align-items: center; /* Align items and links to the center vertically */
}

/* Links */
.links a {
  font-family: 'Righteous', sans-serif; /* Set font for links */
  color: #000000; /* Set color for links */
  text-decoration: none; /* Remove default underline */
}

/* Hover effect for Links */
.links a:hover {
  text-decoration: underline; /* Add underline effect on hover */
}

/* Styling for Link 1 */
#link1 {
  color: #000000; /* Example color for link 1 */
}

/* Styling for Link 2 */
#link2 {
  color: #a34912; /* Example color for link 2 */
}
label{
  font-family: 'Righteous', sans-serif; /* Set font for links */

}